{% extends 'base.html' %}
{% block head_title %}
    Home Page
{% endblock head_title%}
{% block content %}
    <div class="row text-center">
        <div class="col">
            <h1>
                <strong>Welcome to Twitter Clone</strong>
            </h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 mx-auto">
            <form action="/create-tweet" method="POST" id='tweet-create-form' class="form">
                {% csrf_token %}
                <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
                <input type="hidden" value="/" name="next">
                    <textarea required="required" name="content" class='form-control' placeholder="Your Tweet..."></textarea>
                    <button type="submit" class="btn btn-primary">Tweet</button>
                </form>
            </div>
        </div>
        <div class="row" id="tweets">
            Loading...
        </div>


        <script>
            function handleTweetFormError(msg, display) {
                var myErrorDiv = document.getElementById("tweet-create-form-error");

                if (display === true) {
                    myErrorDiv.setAttribute("class", "d-block alert alert-danger")
                    myErrorDiv.innerText = msg;
                } else {
                    myErrorDiv.setAttribute("class", "d-none alert alert-danger")
                }
            }


            function handleTweetCreateFormDidSubmit(event) {
                event.preventDefault();
                const myForm = event.target;
                const myFormData = new FormData(myForm);
                const url = myForm.getAttribute("action");
                const method = myForm.getAttribute("method");
                const xhr = new XMLHttpRequest();
                const reponseType = 'json'
                xhr.responseType = reponseType;
                xhr.open(method, url);
                xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")

                xhr.onload = function () {
                    if (xhr.status === 201) { // const newTweet = JSON.parse(xhr.response);
                        handleTweetFormError("",false);
                        const newTweet = xhr.response;
                        const newTweetElement = formatTweetElement(newTweet);
                        const ogHtml = tweetsContainerElement.innerHTML;
                        tweetsContainerElement.innerHTML = newTweetElement + ogHtml;
                        // const tweetsEl = document.getElementById("tweets");
                        // loadTweets(tweetsEl);
                        myForm.reset();
                    } else if (xhr.status === 400) {
                        const errorJson = xhr.response;
                        const errorContent = errorJson.content;
                        let errorMsg;
                        if (errorContent) {
                            errorMsg = errorContent[0];
                            if (errorMsg) {
                                handleTweetFormError(errorMsg,true);
                            } else {
                                alert("An error occured. Please try again.")
                            }
                        } else {
                            alert("An error occured. Please try again.")
                        }
                    } else if (xhr.status === 401) {
                        alert("You must login!");
                        window.location.href = "/login"
                    } else if (xhr.status === 403) {
                        alert("You must login!");
                        window.location.href = "/login"
                    }  else if (xhr.status === 500) {
                        alert("There was a server error, Please try again.");
                    }
                }
                xhr.onerror = function () {
                    alert("An error has occured. Please try again later.")
                }
                xhr.send(myFormData)


              

            }


            const tweetCreateFormEl = document.getElementById('tweet-create-form');
            tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

            const tweetsContainerElement = document.getElementById("tweets");
            // tweetsElement.innerHTML = "Loading..."
            // var el1 = "<h1>Hi there 1</h1>"
            // var el2 = "<h1>Hi there 2</h1>"
            // var el3 = "<h1>Hi there 3</h1>"
            // tweetsElement.innerHTML = el1 + el2 + el3

            function loadTweets(tweetsElement) {
                const xhr = new XMLHttpRequest();
                const method = 'GET';
                const url = '/tweets';
                const reponseType = 'json'
                xhr.responseType = reponseType;
                xhr.open(method, url);
                xhr.onload = function () {
                    const serverResponse = xhr.response;
                    const listedItems = serverResponse;
                    var finalTweetStr = "";
                    for (let i = 0; i < listedItems.length; i++) {
                        var currentItem = formatTweetElement(tweet = listedItems[i])
                        finalTweetStr += currentItem;
                    }
                    tweetsElement.innerHTML = finalTweetStr;
                    // console.log(listedItems);
                }
                xhr.send()
            }
            loadTweets(tweetsContainerElement);

            function handleDidLike(tweet_id, currentCount) {
                currentCount++
                return
            }

            function LikeBtn(tweet) {
                return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"

            }

            function formatTweetElement(tweet) {
                var formattedTweet = "<div  class='col-12 mx-auto col-md-10  border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content + "</p><div class='btn-group'>" + LikeBtn(tweet) + "</div></div>";
                return formattedTweet
            }
        </script>
    {% endblock content %}
